#title {
    color: red;
}

.subtitle {
    color: blue;
}

.light {
    color: white;
}

#title .hi {
    color: yellow;
}

.unknown {
    color: green;
}

.number {
    color: purple;
}

span {
    text-decoration: underline;
}
